<footer class="contacts_main-container w-100 mild-row main-axis-alignment_center cross-axis-alignment_center mild-pa-sm">
    <div class="mild-row cross-axis-alignment_center main-axis-alignment_start mild-cg-sm">
        <span class="contact-item mild-row cross-axis-alignment_center main-axis-alignment_start mild-cg-xs">
            <fa-icon class="mild-fs-lg" [icon]="['fab', 'whatsapp']"></fa-icon>
            <a class="link mild-fs-lg" href="link.externo.com">Whatsapp</a>
        </span>
        <span class="contact-item mild-row cross-axis-alignment_center main-axis-alignment_start mild-cg-xs">
            <fa-icon class="mild-fs-lg" [icon]="['fab', 'linkedin']"></fa-icon>
            <a class="link mild-fs-lg" href="link.externo.com">LinkedIn</a>
        </span>
        <span class="contact-item mild-row cross-axis-alignment_center main-axis-alignment_start mild-cg-xs">
            <fa-icon class="mild-fs-lg" [icon]="['fab', 'instagram']"></fa-icon>
            <a class="link mild-fs-lg" href="link.externo.com">Instagram</a>
        </span>
        <span class="contact-item mild-row cross-axis-alignment_center main-axis-alignment_start mild-cg-xs">
            <fa-icon class="mild-fs-lg" [icon]="['fab', 'google']"></fa-icon>
            <a class="link mild-fs-lg" href="link.externo.com">Gmail</a>
        </span>
    </div>
</footer>