@use 'sass:color';

@import "./mildWebTools/mild-css-essentials.scss";
@import "./mildWebTools/mild-flex.scss";
@import "./mildWebTools/mild-typography.scss";
@import "./mildWebTools/mild-flex__alignment.scss";
@import "./mildWebTools/mild-spacing.scss";
@import "./mildWebTools/mild-user-interactions.scss";

$base-color: #FFFFFF;
$mixing-color: #AAAAAA;

$base-color-90: color.mix($base-color, $mixing-color, 90%);
$base-color-80: color.mix($base-color, $mixing-color, 80%);
$base-color-70: color.mix($base-color, $mixing-color, 70%);
$base-color-60: color.mix($base-color, $mixing-color, 60%);
$base-color-50: color.mix($base-color, $mixing-color, 50%);
$base-color-40: color.mix($base-color, $mixing-color, 40%);
$base-color-30: color.mix($base-color, $mixing-color, 30%);
$base-color-20: color.mix($base-color, $mixing-color, 20%);
$base-color-10: color.mix($base-color, $mixing-color, 10%);

$primary: #FEF4B9;
$primary-90: color.mix($primary, $base-color, 90%);
$primary-80: color.mix($primary, $base-color, 80%);
$primary-70: color.mix($primary, $base-color, 70%);
$primary-60: color.mix($primary, $base-color, 60%);
$primary-50: color.mix($primary, $base-color, 50%);
$primary-40: color.mix($primary, $base-color, 40%);
$primary-30: color.mix($primary, $base-color, 30%);
$primary-20: color.mix($primary, $base-color, 20%);
$primary-10: color.mix($primary, $base-color, 10%);

$secondary: #F5B0D0;
$secondary-90: color.mix($secondary, $base-color, 90%);
$secondary-80: color.mix($secondary, $base-color, 80%);
$secondary-70: color.mix($secondary, $base-color, 70%);
$secondary-60: color.mix($secondary, $base-color, 60%);
$secondary-50: color.mix($secondary, $base-color, 50%);
$secondary-40: color.mix($secondary, $base-color, 40%);
$secondary-30: color.mix($secondary, $base-color, 30%);
$secondary-20: color.mix($secondary, $base-color, 20%);
$secondary-10: color.mix($secondary, $base-color, 10%);

$danger: #EF4171;
$danger-90: color.mix($danger, $base-color, 90%);
$danger-80: color.mix($danger, $base-color, 80%);
$danger-70: color.mix($danger, $base-color, 70%);
$danger-60: color.mix($danger, $base-color, 60%);
$danger-50: color.mix($danger, $base-color, 50%);
$danger-40: color.mix($danger, $base-color, 40%);
$danger-30: color.mix($danger, $base-color, 30%);
$danger-20: color.mix($danger, $base-color, 20%);
$danger-10: color.mix($danger, $base-color, 10%);

$background-color-light: #F6F6F6;
$background-color-light-90: color.mix($background-color-light, $base-color, 90%);
$background-color-light-80: color.mix($background-color-light, $base-color, 80%);
$background-color-light-70: color.mix($background-color-light, $base-color, 70%);
$background-color-light-60: color.mix($background-color-light, $base-color, 60%);
$background-color-light-50: color.mix($background-color-light, $base-color, 50%);
$background-color-light-40: color.mix($background-color-light, $base-color, 40%);
$background-color-light-30: color.mix($background-color-light, $base-color, 30%);
$background-color-light-20: color.mix($background-color-light, $base-color, 20%);
$background-color-light-10: color.mix($background-color-light, $base-color, 10%);

$background-color-dark: #380D1A;
$background-color-dark-90: color.mix($background-color-dark, $base-color, 90%);
$background-color-dark-80: color.mix($background-color-dark, $base-color, 80%);
$background-color-dark-70: color.mix($background-color-dark, $base-color, 70%);
$background-color-dark-60: color.mix($background-color-dark, $base-color, 60%);
$background-color-dark-50: color.mix($background-color-dark, $base-color, 50%);
$background-color-dark-40: color.mix($background-color-dark, $base-color, 40%);
$background-color-dark-30: color.mix($background-color-dark, $base-color, 30%);
$background-color-dark-20: color.mix($background-color-dark, $base-color, 20%);
$background-color-dark-10: color.mix($background-color-dark, $base-color, 10%);

$text-color-light: #F5F5F5;
$text-color-light-90: color.mix($text-color-light, $base-color, 90%);
$text-color-light-80: color.mix($text-color-light, $base-color, 80%);
$text-color-light-70: color.mix($text-color-light, $base-color, 70%);
$text-color-light-60: color.mix($text-color-light, $base-color, 60%);
$text-color-light-50: color.mix($text-color-light, $base-color, 50%);
$text-color-light-40: color.mix($text-color-light, $base-color, 40%);
$text-color-light-30: color.mix($text-color-light, $base-color, 30%);
$text-color-light-20: color.mix($text-color-light, $base-color, 20%);
$text-color-light-10: color.mix($text-color-light, $base-color, 10%);

$text-color-dark: #363636;
$text-color-dark-90: color.mix($text-color-dark, $base-color, 90%);
$text-color-dark-80: color.mix($text-color-dark, $base-color, 80%);
$text-color-dark-70: color.mix($text-color-dark, $base-color, 70%);
$text-color-dark-60: color.mix($text-color-dark, $base-color, 60%);
$text-color-dark-50: color.mix($text-color-dark, $base-color, 50%);
$text-color-dark-40: color.mix($text-color-dark, $base-color, 40%);
$text-color-dark-30: color.mix($text-color-dark, $base-color, 30%);
$text-color-dark-20: color.mix($text-color-dark, $base-color, 20%);
$text-color-dark-10: color.mix($text-color-dark, $base-color, 10%);

:root {
  --base-color: #{$base-color};
  --base-color-90: #{$base-color-90};
  --base-color-80: #{$base-color-80};
  --base-color-70: #{$base-color-70};
  --base-color-60: #{$base-color-60};
  --base-color-50: #{$base-color-50};
  --base-color-40: #{$base-color-40};
  --base-color-30: #{$base-color-30};
  --base-color-20: #{$base-color-20};
  --base-color-10: #{$base-color-10};

  --primary: #{$primary};
  --primary-90: #{$primary-90};
  --primary-80: #{$primary-80};
  --primary-70: #{$primary-70};
  --primary-60: #{$primary-60};
  --primary-50: #{$primary-50};
  --primary-40: #{$primary-40};
  --primary-30: #{$primary-30};
  --primary-20: #{$primary-20};
  --primary-10: #{$primary-10};

  --secondary: #{$secondary};
  --secondary-90: #{$secondary-90};
  --secondary-80: #{$secondary-80};
  --secondary-70: #{$secondary-70};
  --secondary-60: #{$secondary-60};
  --secondary-50: #{$secondary-50};
  --secondary-40: #{$secondary-40};
  --secondary-30: #{$secondary-30};
  --secondary-20: #{$secondary-20};
  --secondary-10: #{$secondary-10};

  --danger: #{$danger};
  --danger-90: #{$danger-90};
  --danger-80: #{$danger-80};
  --danger-70: #{$danger-70};
  --danger-60: #{$danger-60};
  --danger-50: #{$danger-50};
  --danger-40: #{$danger-40};
  --danger-30: #{$danger-30};
  --danger-20: #{$danger-20};
  --danger-10: #{$danger-10};

  --background-color-light: #{$background-color-light};
  --background-color-light-90: #{$background-color-light-90};
  --background-color-light-80: #{$background-color-light-80};
  --background-color-light-70: #{$background-color-light-70};
  --background-color-light-60: #{$background-color-light-60};
  --background-color-light-50: #{$background-color-light-50};
  --background-color-light-40: #{$background-color-light-40};
  --background-color-light-30: #{$background-color-light-30};
  --background-color-light-20: #{$background-color-light-20};
  --background-color-light-10: #{$background-color-light-10};

  --background-color-dark: #{$background-color-dark};
  --background-color-dark-90: #{$background-color-dark-90};
  --background-color-dark-80: #{$background-color-dark-80};
  --background-color-dark-70: #{$background-color-dark-70};
  --background-color-dark-60: #{$background-color-dark-60};
  --background-color-dark-50: #{$background-color-dark-50};
  --background-color-dark-40: #{$background-color-dark-40};
  --background-color-dark-30: #{$background-color-dark-30};
  --background-color-dark-20: #{$background-color-dark-20};
  --background-color-dark-10: #{$background-color-dark-10};

  --text-color-light: #{$text-color-light};
  --text-color-light-90: #{$text-color-light-90};
  --text-color-light-80: #{$text-color-light-80};
  --text-color-light-70: #{$text-color-light-70};
  --text-color-light-60: #{$text-color-light-60};
  --text-color-light-50: #{$text-color-light-50};
  --text-color-light-40: #{$text-color-light-40};
  --text-color-light-30: #{$text-color-light-30};
  --text-color-light-20: #{$text-color-light-20};
  --text-color-light-10: #{$text-color-light-10};

  --text-color-dark: #{$text-color-dark};
  --text-color-dark-90: #{$text-color-dark-90};
  --text-color-dark-80: #{$text-color-dark-80};
  --text-color-dark-70: #{$text-color-dark-70};
  --text-color-dark-60: #{$text-color-dark-60};
  --text-color-dark-50: #{$text-color-dark-50};
  --text-color-dark-40: #{$text-color-dark-40};
  --text-color-dark-30: #{$text-color-dark-30};
  --text-color-dark-20: #{$text-color-dark-20};
  --text-color-dark-10: #{$text-color-dark-10};

  h1, h2, h3, h4, h5, h6 {
    font-family: "Dancing Script", cursive;
  }

  p {
    font-family:"Merriweather", serif;
  }
  
  footer {
    font-family: "Indie Flower", cursive;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../../public/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: var(--text-color-dark);
  font-size: normal;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

/* Corrige o posicionamento do scroll por causa da nav-bar fixa */
#intro, #works, #contacts {
  scroll-margin-top: 160px; /* Um pouco mais que a altura da nav-bar (150px) */
}