$font-size-standards: ('xxs': 12 , 'xs': 14 , 'sm': 16 , 'md': 18 , 'lg': 24 , 'xl': 28 , 'xxl': 32 , 'xxxl': 64);

@each $font-size , $value in $font-size-standards {
  .mild-fs-#{$font-size} {
    font-size: #{$value}px;
  }
}

$font-weights: ('bold': 700 , 'semibold': 600 , 'medium': 500 , 'regular': 400 , 'light': 300);

@each $font-weight , $value in $font-weights {
  .mild-fw-#{$font-weight} {
    font-weight: #{$value};
  }
}

.mild-ta-justify {
  text-align: justify;
}
.mild-ta-center {
  text-align: center;
}
.mild-ta-start {
  text-align: start;
}
.mild-ta-end {
  text-align: end;
}